.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  @import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  * {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .home{
    width: 100%;
    height: 100vh;
  }

  .main{
    display: flex;
    height: 80%;
    align-items: center;
  }

  .col{
    flex-basis: 50%;
  }

  .col1{
    margin-left: 45px;
  }

  .col h2{
    font-size: 45px;
    color: #fff;
    font-weight: 600;
  }

  .col p{
    font-size: 45px;
    color: gray;
    font-weight: 500;
    margin-top: 20px;
  }

  .col button {
    padding: 10px 30px;
    background-color: rgba(0, 89, 255, 0.678);
    border: 1px solid rgba(0, 89, 255, 0.678);
    border-radius: 6px;
    color: #ffff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }
